# =========================
# Root
# =========================
node_modules/

# =========================
# Backend
# =========================
backend/node_modules/
backend/.env

# =========================
# Gateway
# =========================
gateway/node_modules/
gateway/.env

# =========================
# Logs
# =========================
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Temporary / test files
# =========================
*.save
*.tmp


node_modules/
.env
venv/
__pycache__/
model/*.pkl